/.gradle/
/gradle/
gradlew
gradlew.bat
/build/
/.idea/
*.iml
*.store
/classes/
bookmarks
/logs/
*.log
*.class
*.war
*.ear
*.zip
*.tar.gz
*.rar
error_hotspot.xml
hs_err_pid*
out
*.xml
gradle.properties